h1{color:red;
   font-size:20px;
   font-family: Arial, helvetica, sans-serif;}

h2{font-family: Arial, helvetica, sans-serif;
 	font-size: 16px}

h3{font-family: Arial, helvetica, sans-serif;
 	font-size: 16px}

p{color:blue;
  font-family: times new roman, times, serif;
  font-size: 12}

ul{list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;}

li{float: left;}

li a{display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;}

li a:hover{background-color: #4CAF50;}

div.journal{-webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-gap: 40px;
            -moz-column-gap: 40px;
            column-gap: 40px;
            -webkit-column-rule: 1px solid lightblue;
            -moz-column-rule: 1px solid lightblue;
            column-rule: 1px solid lightblue;}
div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.container {
    padding: 10px;
}