h1{color:red;
   font-size:20px;
   font-family: Arial, helvetica, sans-serif;}
h2{font-family: Arial, helvetica, sans-serif;
 	font-size: 16px}
h3{font-family: Arial, helvetica, sans-serif;
 	font-size: 16px}
p{color:blue;
  font-family: times new roman, times, serif;
  font-size: 12}
ul{list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;}
li{float: left;}
li a{display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;}
li a:hover{background-color: #4CAF50;}